*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);
  --cyan-400-5: hsla(178, 100%, 50%, 0.5);

  --blue-950: hsl(217, 54%, 11%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-800: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  font-family: "Outfit", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 18px;
  color: var(--blue-500);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--blue-950);
}
